
<!-- Project Block (should be able to consolidate this using Jinja2)-->
<div class="col-sm-12">
  <h3><u>Firebase-Flask Driven Blog: "FireFlog"</u></h3>
</div>
<div class="col-sm-12 proj_container">
  <div class="col-sm-2 proj_img1"></div>
  <div class="col-sm-10 proj_text">A basic blog application that uses a Flask-driven backend and Cloud Firestore database. It features a login form, user database, and 'timeline' of what all users have recently posted.</div>
<div class="col-sm-12" style="padding-bottom:10px">
  <div class="col-sm-2"></div>
  <div class="col-sm-10"><p>Links: <a href="/">Home</a> | <a href="/contact/">Contact</a></p></div>
</div>
<div class="col-sm-12">
  <div class="col-sm-2"></div>
  <div class="col-sm-10">
    <p>Progress:</p>
    <div class="progress">
      <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
      aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
        85% Complete
      </div>
    </div>
  </div>
</div>
<!-- End -->
