{% extends 'base.html' %}

{% block left_content %}
{% endblock %}

{% block center_content %}
<div class="col-sm-2 intro_div intro_div_image">

</div>
<div class="col-sm-10 intro_div intro_div_text">
  <h1>Christopher D Hein</h1>
  <h3>Mechanical Engineer</h3>
  <h4>Decatur, IL</h4>
</div>

<div class="home col-sm-12"">
  <div class="about">
    <h2 class="about-header">Welcome to my site!</h2>
    <p>I am a recent graduate of the University of Notre Dame with a major in Mechanical Engineering. My dream is to engage with an elite technology company to design and innovate products that can revolutionize and enhance lives around me.</p>
    <br>
    <p>This is a simple website I have created as a hobby. Recently, I've begun learning Python Flask, a micro-framework used to quickly and easily create webapps running Python on the backend. As you can probably tell by my abundant use of Bootstrap elements, I don't like frontend. But as a hobby I hope to learn more about the backend and create webapps that operate there. This site, for instance, is built from scratch using the Flask infrastructure, which is the Python-based backend framework for this website. It handles browswer requests, directs the user, and can implement any Python-based function. I hope to add lots of fun features to this site such as a login, a blog, tools, custom Python games, and other web-based applications. </p>
    <p>Feel free to look around the site and check out the random features, such as this quote:</p>
  </div>

  <blockquote class="blockquote text-right">
    <p class="mb-0">Mankind are greater gainers by suffering each other to live as seems good to themselves, than by compelling each to live as seems good to the rest.</p>
    <footer class="blockquote-footer">J. S. Mill, <cite title="Source Title">On Liberty (1869)</cite></footer>
  </blockquote>

  <p>This is a simple but powerful quote from one of Mill's greatest works. In it, he describes his famous "no-harm" principle, which states that unless we are blatently harming another, we should be allowed to live our lives any way we want to, even if our habits come off as strange to others.</p>

  <p>Also, as a Mechanical Engineer, I love math, as well as figures. This is evident in Figure 1.</p>

  <figure class="text-center">
    <img src="/static/Media/math.png" alt="About image" style="width:50%"/>
    <figcaption>
        <p>Figure 1: Math. This makes use of the new <code>figure</code> feature in HTML5. Note that this may not load on older browsers.</p>
    </figcaption>
</figure>

  <p>This is a clean and easy way to imbed an image on a webpage (much easier than using <code>img</code>!)</p>

  <p>This is a new change! And another new change after it.</p>
</div>
{% endblock %}

{% block right_content %}
{% endblock %}
